@model IEnumerable<Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <form asp-controller="Articles" asp-action="Index" method="get">
        <div class="row">
            <div class="col-2">
                <label class="form-control search-datetime-published-label">Published On: </label>
            </div>
            <div class="col-3">
                <input class="form-control search-datetime-index" type="date" asp-format="{0:yyyy-MM-dd}" name="exactDate" />
            </div>
            <div class="col-1">
                <button class="form-control search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </form>
</div>
<table class="table table-striped table-hover article-list">
    <thead>
        <tr>
            <th scope="col">
                Icon
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
@foreach (var item in Model) {
        <tr>
            <td>
                    <div class="thumbnail-article" style="background-image: url(@item.Thumbnail)"></div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                <div class="article-list-content">
                    @Html.DisplayFor(modelItem => item.Content)
                </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/daterangepicker/moment.min.js"></script>
<script>
    $(function () {
        let url_params = new URLSearchParams(window.location.search);
        if (url_params.size > 0) {
            let exactDate = moment(url_params.get('exactDate')).format('YYYY-MM-DD');
            $('input[name="exactDate"]').val(exactDate);
        }
    });
</script>